<!DOCTYPE html>
<html>

<head>
	<title>CTF App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>

<body>
	<div class="col-md-4 col-md-offset-4 form-card">
		<div>
			<p>Sorry, something Went Wrong!</p>
		</div>
		<div>
			<center>
				<p><% if (typeof message !== 'undefined' && message.length > 0) { %>
                    <%= message %>
                  <% } %></p>
			</center>
		</div>
		
	</div>
</body>

</html>